//==COLORS==
$blue: #02B3E4;
$dark-gray: #2D3C49;
$gray: #7D97AD;
$default-color: #000;


//FONTS
$main-font: 'Nunito', sans-serif;


//SIZES
$logo-width: 50px;
$logo-height: 50px;
$feature-width: 100%;
$feature-height: 400px;
$project-img-width: 300px;
$project-img-height: 150px;
$project-pic-width: 300px;
$project-pic-height: 150px;